/* ----- SLIDER ----- */
.slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    position: relative;
}

.slide img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/* ----- TITRE SUR L'IMAGE ----- */
.slide-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 24px;
    border-radius: 5px;
}

/* ----- BOUTONS RECTANGULAIRES ----- */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.3);
    border: none;
    padding: 200px 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
    z-index: 10;
}

.arrow:hover {
    background: rgba(255,255,255,1);
}

.left { left: 0px; }
.right { right: 0px; }

/* ----- COMPTEUR (invisible maintenant) ----- */
.counter { display: none; }

/* ----- BOUTONS DU BAS (invisibles) ----- */
.controls { display: none; }






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;;
    color: #1a1a1a;
}

header {
    padding: 20px 40px;
    background: linear-gradient(90deg, #ffffff, #e6e9ef);
    border-bottom: 1px solid #d0d4dc;
}

header h1 {
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2c3e50;
}

main {
    padding: 40px;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.hero p {
    font-size: 16px;
    color: #4a5568;
}



table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #DEDEDE;
}
